video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titulo {
   position: absolute;
    margin: auto;
    margin-top: 30px;
    margin-left: 600px;
    width: 400px;
    height: 500px;
    z-index: 20;
}
.titulo img{
    width: 400px;
    margin-left: 0px;
}

.titulo h1{
    font-size: 80px;
    margin-top: 20px;
}

button {
    margin-top: 50px;
    width: 200px;
    height: 50px;
    font-size: 40px;
    border-radius: 20px;
    background-color: transparent;
}